.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: max-content;
  height: 54px;
  padding: 0 50px;
  @include text;
  color: $tertiaryColor;
  border: 1px solid $border-btn;
  box-sizing: border-box;
  border-radius: 0;
  background-color: $white;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  }

  &.secondary {
    background-color: $tertiaryColor;
    border: 0;
    color: $white;
  }
}
